---
---

body
    cursor: url('/assets/images/monster64.png'), auto

.main-container
    display: flex
    align-items: center
    flex-direction: column

.flex-container
    display: flex
    justify-content: space-between
    flex-wrap: wrap

.flex-item-grow
    flex: 1 1 auto
    padding: 1em